 <div class="col-sm-2 hidden-xs">
    <nav class="nav-sidebar">
        <ul class="nav">
            <li>@Html.ActionLink("Categories", "Index", "Categories", new { area = "Admin" }, null)</li>
            <li>@Html.ActionLink("Questions", "Index", "Questions", new { area = "Admin" }, null)</li>
            <li class="nav-divider"></li>
            <li><a href="javascript:;"><i class="glyphicon glyphicon-off"></i> Sign out</a></li>
        </ul>
     </nav>
 </div>
